.client-section{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.photo-grid{
    display: flex;
    justify-content: space-around;
}

.site-photo{
    width: 20%;
}

.site-photo > .client-site{
    height: 200px;
    width: auto;
    opacity: 1; 
    transition: .5s ease;
    backface-visibility: hidden;
}

.site-photo > h3{
    margin-top: -40px;
}

.client-site:hover{
    background-color: rgba(255,255,255, 0.8);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    transform: translate(0%, -220%);
}

.site-photo:hover .client-site {
    opacity: 0.3;
}

.site-photo:hover .middle {
    opacity: 1;
}

.text {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
}

.text:hover{
    cursor: pointer;
    transition: transform .2s;
    transform: scale(1.1);
}