.title-portfolio{
    font-family: 'Montserrat', sans-serif;
    padding: 50px 0% 0px 0%;
    margin: 0px;
    /* background: rgb(186,186,186);
    background: linear-gradient(180deg, rgba(186,186,186,1) 20%, rgba(255,255,255,1) 35%); */
    background: white;
}

.portfolio-container{
    background-color: white;
}

.button-div > button{
    margin-right: 30px;
}

button > .code-link {
    text-decoration: none;
    color: black;
}

button > .code-link > i{
    color: black;
    margin-right: 10px;
    font-size: 1.2rem;
}

hr{
    border-top: 2px solid black;
    margin: 10px 39% 50px 39%;
    background: white;
}

.products { 
    display: flex;
    flex-direction: row-reverse;
    padding-top: 5px;
    margin-top: -5px;
    margin-bottom: -3px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.products-text{
    width: 50%;
    padding-top: 155px;
    padding-bottom: 155px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

}

.products-text > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: left;
    padding: 0px 10%;
}
        
.products-text > p{
    margin-top: 18px;
    line-height: 1.45;
    padding: 0px 10%;
    font-size: 1.3rem;
    text-align: left;
}
        
.products > .products-image{
    width: 50%;
    background-color: #da6351;
    display: flex;
    align-items: center;
    justify-content: center;
}


.products-image > img {
    width: 25%;
    height: auto;
}

.products-2 { 
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    margin-top: -5px;
    margin-bottom: -3px;
}        

.products-2 > .products-image-2{
    background-color: black;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-image-2 > img{
    height: auto;
    width: 30%;
}

.button-div{
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    width: 90%;
}

.products > .products-image-3{
    width: 50%;
    background-color: #bb1333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-image-3 > img {
    width: 35%;
    height: auto;

}